.nut {
    position:absolute;
    top:-300px;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    transition: all .2s ease-in-out;
    cursor: grab;
}

h1 {
    display: inline;
}

.nutCount {
    bottom: 13px;
    right: 6px;
}

.odometer.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
    -webkit-transition-duration: 0.5s !important;
    -moz-transition-duration: 0.5s !important;
    -ms-transition-duration: 0.5s !important;
    -o-transition-duration: 0.5s !important;
    transition-duration: 0.5s !important
}