.nut {
    position:absolute;
    top:-5em;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    transition: all .2s ease-in-out;
    cursor: grab;
    z-index: 2;
}

h1 {
    display: inline;
    font-size: 100px;
}

a {
    text-decoration:none;
}

.nutCount {
    bottom: 0.40em;
    right: 0.2em;
    z-index: 1;
}

.odometer.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
    -webkit-transition-duration: 0.5s !important;
    -moz-transition-duration: 0.5s !important;
    -ms-transition-duration: 0.5s !important;
    -o-transition-duration: 0.5s !important;
    transition-duration: 0.5s !important;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}